.contact-header {
   background-color: var(--body-color);
   border-bottom: .7px solid rgba(0 0 0/ .15);
   display: flex;
   justify-content: center;
   align-items: center;
   height: clamp(3.9rem, 3.5831rem + 1.3521vw, 4.8rem);
   position: sticky;
   top: 0;
   z-index: var(--z-fixed);
}

.contact-btn {
   color: var(--black-color);
   position: absolute;
   left: clamp(0.625rem, -2.6761rem + 14.0845vw, 10rem);
   top: 50%;
   transform: translateY(-50%);
   padding-left: .7rem;
   width: max-content;
   transition: var(--general-transition);
}

.contact-btn i {
   font-size: 1.15rem;
   transition: var(--general-transition);
}

.contact-btn i:is(:hover, :active) {
   color: var(--btn-bg);
}

.contact-header-title {
   color: var(--title-color);
   font-weight: 500;
   font-family: var(--ff-heading);
   font-size: var(--fs-section-subtitle);
}

.contact-container {
   padding-block: 1.5rem 2rem;
   padding-inline: var(--padding-inline);
   margin: auto;
   max-width: 63rem;
}

.contact-section {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
}

.contact-content-container {
   display: flex;
   flex-direction: column;
   gap: 1.7rem;
}

.contact-content {
   display: flex;
   flex-direction: column;
   gap: .7rem;
}

.contact-content:nth-child(2) div,
.contact-content:nth-child(3) div {
   display: flex;
   gap: .3rem;
}

.contact-content:nth-child(2) a,
.contact-content:nth-child(3) a {
   color: var(--btn-bg);
}

.contact-content:nth-child(2) a:is(:hover, :active),
.contact-content:nth-child(3) a:is(:hover, :active) {
   text-decoration: underline;
}

.contact-content-title {
   color: var(--title-color);
   font-size: clamp(1.15rem, 1.1324rem + 0.0751vw, 1.2rem);
}

.contact-content-workdays {
   display: flex;
   flex-wrap: wrap;
   gap: .5rem;
}

.contact-content-links-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.contact-content-link {
   display: flex;
   align-items: center;
   gap: .5rem;
}

.contact-content-link i {
   font-size: 1.3rem;
}

.contact-content-link {
   color: var(--black-color);
   font-size: var(--fs-navs);
   font-weight: 500;
   transition: var(--general-transition);
   width: max-content;
}

.contact-content-link:is(:hover, :active) {
   color: var(--btn-bg);
   text-decoration: underline;
}

.contact-content-link:nth-child(1) i {
   color: rgb(0, 191, 255);
}

.contact-content-link:nth-child(2) i {
   color: var(--calm-black-color);
}

.contact-content-link:nth-child(3) i {
   color: rgb(22, 22, 212);
}