.footer {
   border-top: .7px solid rgba(0 0 0/ .15);
   background-color: var(--container-color);
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap-reverse;
   gap: 1rem;
   padding-block: 1.75rem;
   padding-inline: var(--padding-inline);
   width: 100%;
}

.footer-text {
   color: var(--title-color);
   font-size: .96rem;
}

.footer-socials-container {
   display: flex;
   align-items: center;
   gap: 1.4rem;
}

.footer-social-link i {
   font-size: 1.35rem;
}

.footer-social-link:nth-child(1) {
   color: rgb(22, 22, 212);
}

.footer-social-link:nth-child(2) {
   color: rgb(0, 191, 255);
}

.footer-social-link:nth-child(3) {
   color: var(--calm-black-color);
}


/* Small - Medium devices */
/* breakpoint 930px media query */
@media screen and (max-width: 58.125em) {
   .footer {
      justify-content: center;
   }

   .footer-text {
      text-align: center;
   }
}