.header {
  background-color: var(--body-color);
  border-bottom: .7px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(3.9rem, 3.5831rem + 1.3521vw, 4.8rem);
  padding-inline: var(--padding-inline);
  position: sticky;
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--general-transition);
}

.nav-menu-container-overlay {
  background-color: rgba(0 0 0 / .75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
}

.nav-overlay-show {
  opacity: 1;
  visibility: visible;
}

.logo-image {
  width: clamp(13rem, 11.9437rem + 4.5070vw, 16rem);
}

.nav-menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.7rem;
}

.nav-menu-subtitle {
  color: var(--black-color);
  font-weight: 500;
  font-family: var(--ff-nav);
  font-size: .95rem;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.nav-menu-subtitle::after,
.nav-menu-subtitle::before {
  background-color: rgba(0 0 0 / .35);
  content: '';
  width: 50px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -4rem;
}

.nav-menu-subtitle::before {
  left: initial;
  right: -4rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.nav-link {
  color: var(--text-color);
  font-size: var(--fs-nav);
  font-family: var(--ff-nav);
  font-weight: 500;
  transition: var(--general-transition);
}

.nav-link:is(:hover, :active) {
  color: var(--btn-bg);
  text-decoration: underline;
}

.close-nav-btn {
  background-color: var(--btn-bg);
  border-radius: var(--btn-border-radius);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: clamp(0.9rem, 0.8824rem + 0.0751vw, 0.95rem);
  font-weight: 500;
  font-family: var(--ff-nav);
  padding: .57rem .7rem;
  transition: var(--general-transition);
  position: absolute;
  top: .9rem;
  right: 1.08rem;
}

.close-nav-btn i {
  font-size: .87rem;
}

.close-nav-btn:hover {
  text-decoration: underline;
}


/* Mobile - tablet navigation */
/* breakpoint 1150px media query */
@media screen and (max-width: 71.875em) {
  .nav-menu-container {
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    right: 0;
    padding-block-start: 5.5rem;
    height: 100%;
    width: 23rem;
    text-align: center;
    transition: var(--general-transition);
    transform: translateX(100%);
  }
}


.open-nav-btn {
  background-color: var(--btn-bg);
  border-radius: var(--btn-border-radius);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: clamp(0.9rem, 0.8824rem + 0.0751vw, 0.95rem);
  font-weight: 500;
  font-family: var(--ff-nav);
  padding: .57rem .7rem;
  transition: var(--general-transition);
}

.open-nav-btn i {
  font-size: .87rem;
}

.open-nav-btn:hover {
  text-decoration: underline;
}

.show-menu {
  transform: translateY(0);
}

.header-active {
  /* box-shadow: 0 2.5px 25px rgba(0 0 0 / .06); */
  border-bottom: .7px solid rgba(0 0 0/ .15);
}


/* Large devices */
/* breakpoint 1150px media query */
@media screen and (min-width: 71.875em) {
  .nav-menu-container {
    justify-content: space-between; 
    flex-direction: row;
  }

  .nav-menu-image,
  .nav-menu-subtitle,
  .close-nav-btn,
  .open-nav-btn {
    display: none;
  }

  .nav-menu {
    flex-direction: row;
  }
}