.header {
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(3.9rem, 3.5831rem + 1.3521vw, 4.8rem);
  padding-inline: var(--navs-padding-inline);
  position: sticky;
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: var(--z-fixed);
  transition: var(--general-transition);
}

.nav-menu-container-overlay {
  background-color: rgba(0 0 0 / .75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
}

.nav-overlay-show {
  opacity: 1;
  visibility: visible;
}

.nav-menu-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.7rem;
  position: relative;
}

.nav-menu-image {
  margin-bottom: .7rem;
  width: 2.4rem;
}

.nav-menu-subtitle {
  color: var(--white-color);
  font-weight: 500;
  font-size: .9rem;
  margin-bottom: 2rem;
  position: relative;
}

.nav-menu-subtitle::after,
.nav-menu-subtitle::before {
  background-color: var(--faint-white-color);
  content: '';
  width: 40px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -3.5rem;
}

.nav-menu-subtitle::before {
  left: initial;
  right: -3.5rem;
}

.nav-menu-left,
.nav-menu-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.7rem;
}

.nav-link {
  color: var(--faint-gray-color);
  font-size: var(--fs-navs);
  font-family: var(--ff-body);
  font-weight: 500;
  transition: var(--general-transition);
}

.nav-link:is(:hover, :active) {
  color: var(--white-color);
  text-decoration: underline;
}

.nav-link-active {
  color: var(--white-color);
  text-decoration: underline;
}

.close-nav-btn {
  background-color: var(--calm-black-color);
  border-radius: var(--btn-border-radius);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: clamp(0.9rem, 0.8824rem + 0.0751vw, 0.95rem);
  font-weight: 500;
  outline: none;
  padding: .57rem .7rem;
  transition: var(--general-transition);
  position: absolute;
  top: .95rem;
  right: 1.08rem;
}

.close-nav-btn i {
  font-size: .87rem;
}

.close-nav-btn:hover {
  text-decoration: underline;
}


/* Mobile - tablet navigation */
/* breakpoint 1150px media query */
@media screen and (max-width: 71.875em) {
  .nav-menu-container {
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    right: 0;
    padding-block-start: 5.5rem;
    height: 100%;
    width: 24rem;
    text-align: center;
    transition: var(--general-transition);
    transform: translateX(100%);
  }
}


.logo-container {
  display: flex;
  gap: .5rem;
}

.logo-icon-container i {
  color: var(--faint-white-color);
  font-size: 1.1rem;
  padding-top: .25rem;
}

.logo-text {
  color: var(--faint-white-color);
  font-family: var(--ff-body);
  font-size: clamp(0.94rem, 0.8308rem + 0.4657vw, 1.25rem);
}

.open-nav-btn {
  background-color: var(--calm-black-color);
  border-radius: var(--btn-border-radius);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: clamp(0.9rem, 0.8824rem + 0.0751vw, 0.95rem);
  font-weight: 500;
  outline: none;
  padding: .57rem .7rem;
  transition: var(--general-transition);
}

.open-nav-btn i {
  font-size: .87rem;
}

.open-nav-btn:hover {
  text-decoration: underline;
}

.show-menu {
  transform: translateY(0);
}

.header-active {
  box-shadow: 0 3px 25px rgba(0 0 0 / .3);
  transition: var(--general-transition);
}


/* Large devices */
/* breakpoint 1150px media query */
@media screen and (min-width: 71.875em) {
  .nav-menu-container {
    justify-content: space-between; 
    flex-direction: row;
    width: 100%;
  }

  .nav-menu-image,
  .nav-menu-subtitle,
  .close-nav-btn,
  .open-nav-btn {
    display: none;
  }

  .nav-menu-left,
  .nav-menu-right {
    flex-direction: row;
    column-gap: 2.55rem;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo-text-container {
    text-align: center;
  }
}