.hero-section {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap-reverse;
   gap: 1rem;
   padding-top: clamp(4rem, 3.2958rem + 3.0047vw, 6rem);
   padding-inline: var(--padding-inline);
   padding-bottom: clamp(3rem, 1.9437rem + 4.5070vw, 6rem);
   overflow: hidden;
}

.hero-text-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: clamp(1.55rem, 1.3915rem + 0.6761vw, 2rem);
   text-align: center;
}

.hero-title {
   color: var(--title-color);
   font-size: clamp(1.75rem, 1.3627rem + 1.6526vw, 2.85rem);
   font-family: var(--ff-heading);
}

.hero-text-desc {
   color: var(--text-color);
   font-size: clamp(1.097rem, 1.0783rem + 0.0796vw, 1.15rem);
   max-width: 50rem;
   letter-spacing: .02rem;
}

.hero-btns-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: clamp(1rem, 0.7535rem + 1.0516vw, 1.7rem);
}

.hero-btn {
   color: var(--white-color);
}

.hero-image {
   /* border-radius: 1.1rem;
   height: clamp(30rem, 29.2958rem + 3.0047vw, 32rem);
   width: clamp(26rem, 25.6479rem + 1.5023vw, 27rem);
   object-fit: cover; */
   height: clamp(21rem, 18.8873rem + 9.0141vw, 27rem);
   width: clamp(21rem, 18.8873rem + 9.0141vw, 27rem);
   border-radius: 50%;
}


/* Large devices */
/* breakpoint 1350px media query */
@media screen and (min-width: 84.375em) {
   .hero-section {
      justify-content: space-between;
      flex-wrap: nowrap;
   }

   .hero-text-container {
      text-align: initial;
      max-width: 37.5rem;
   }
}


/* Large devices */
/* breakpoint 1380px media query */
@media screen and (min-width: 86.25em) {
   .hero-text-container {
      max-width: 44rem;
   }
}