.news-section {
   padding-block: 4rem;
   padding-inline: var(--padding-inline);
}

.news-heading-container {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin-bottom: 2rem;
   text-align: center;
}

.news-title {
   color: var(--title-color);
   font-size: var(--fs-section-title);
   font-family: var(--ff-heading);
}

.news-subtitle {
   font-weight: 500;
   font-size: var(--fs-section-subtitle);
   margin: auto;
   width: clamp(20rem, 5.9155rem + 60.0939vw, 60rem);
}

.tab-btn-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: clamp(0.7rem, 0.5944rem + 0.4507vw, 1rem);
   margin-bottom: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
}

.tab-btn-container li {
   margin-bottom: .7rem;
}

.tab-btn {
   border: 1px solid rgba(0 0 0 / .4);
   border-radius: var(--btn-border-radius);
   color: var(--text-color);
   padding: clamp(0.35rem, 0.3324rem + 0.0751vw, 0.4rem) 
            clamp(0.55rem, 0.5148rem + 0.1502vw, 0.65rem);
}

.tab-btn.tabBtnActive {
   background-color: var(--btn-bg);
   border: 1px solid var(--btn-bg);
   color: var(--white-color);
}

.tab-content {
   display: none;
}

.tab-content.tabContentActive {
   display: block;
}

.news-card-list-container {
   /* display: grid;
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.news-card {
   display: flex;
   flex-direction: column;
   row-gap: .8rem;
   max-width: 24rem;
   /* min-width: 23.5rem; */
}

.news-card-image {
   border-radius: var(--border-radius);
   width: 100%;
   height: 16rem;
   object-fit: cover;
}

.support-CBO-image {
   width: 25rem;
   height: 35rem;
}

.news-card-info-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.news-card-date,
.news-card-views-container i,
.news-card-views-num {
   font-size: .87rem;
}

.news-card-views-container {
   display: none;
   align-items: center;
   gap: .3rem;
}

.news-card-title {
   color: var(--title-color);
}

.news-card-btn {
   color: var(--black-color);
   font-size: var(--fs-navs);
   font-weight: 500;
   text-decoration: underline;
   transition: var(--general-transition);
   width: max-content;
}

.news-card-btn i {
   font-size: .87rem;
   margin-left: .25rem;
}

.news-card-btn:is(:hover, :active) {
   color: var(--btn-bg);
}

.accordion-container {
   max-height: 0;
   margin-top: 1.5rem;
   overflow-y: hidden;
   transition: max-height .4s ease;
}

.accordion-container-active {
   max-height: 60vh;
}

.show-more-btn {
   background-color: var(--btn-bg);
   border: none;
   border-radius: var(--btn-border-radius);
   color: var(--white-color);
   cursor: pointer;
   display: block;
   padding: clamp(0.35rem, 0.3324rem + 0.0751vw, 0.4rem) 
            clamp(0.55rem, 0.5148rem + 0.1502vw, 0.65rem);
   margin: 1rem auto 0;
}

.show-more-btn i {
   font-size: .87rem;
   margin-left: .25rem;
}


/* Small devices */
/* breakpoint 586px media query */
@media screen and (max-width: 36.625em) {
   .news-card-list-container {
      gap: 2.7rem;
   }

   .accordion-container {
      margin-top: 2.7rem;
   }
}


/* Small - Medium devices */
/* breakpoint 930px media query */
@media screen and (max-width: 58.125em) {
   .news-card-list-container {
      justify-content: center;
   }
}


/*  NEWS SINGLES STYLES  */
.news-single-container {
   padding-block: 1.5rem 2rem;
   padding-inline: clamp(0.8rem, -7.7211rem + 36.3568vw, 25rem);
}

.news-single-header {
   background-color: var(--body-color);
   border-bottom: .7px solid rgba(0 0 0/ .15);
   display: flex;
   justify-content: center;
   align-items: center;
   height: clamp(3.9rem, 3.5831rem + 1.3521vw, 4.8rem);
   position: sticky;
   top: 0;
   z-index: var(--z-fixed);
}

.news-single-header-title {
   color: var(--title-color);
   font-weight: 500;
   font-family: var(--ff-heading);
   font-size: var(--fs-section-subtitle);
}

.news-single-btn {
   color: var(--black-color);
   font-size: var(--fs-navs);
   font-weight: 500;
   text-decoration: underline;
   transition: var(--general-transition);
   width: max-content;
}

.news-single-btn i {
   font-size: .87rem;
   margin-right: .25rem;
}

.news-single-btn:is(:hover, :active) {
   color: var(--btn-bg);
}

.carousel-container {
   padding-block: 3rem;
   position: relative;
}
 
.carousel-wrapper {
   overflow: hidden;
   position: relative;
}
 
.carousel-inner {
   display: flex;
   transition: var(--general-transition);
}
 
.carousel-item {
   flex: 0 0 100%;
   max-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
 
.carousel-item img {
   border-radius: var(--border-radius);
   width: 100%;
   height: clamp(16rem, 11.0704rem + 21.0329vw, 30rem);
   object-fit: cover;
}
 
.carousel-nav {
   display: flex;
   justify-content: space-between;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 1;
   width: 100%;
}
 
.carousel-prev, 
.carousel-next {
   background-color: var(--calm-black-color);
   border-radius: 50%;
   border: .57px solid var(--white-color);
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   width: clamp(2.7rem, 2.5944rem + 0.4507vw, 3rem);
   height: clamp(2.7rem, 2.5944rem + 0.4507vw, 3rem);
}

.carousel-prev i,
.carousel-next i {
   color: var(--white-color);
   font-size: clamp(1rem, 0.8944rem + 0.4507vw, 1.3rem);
}
 
.carousel-pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .5rem;
   margin-top: 1rem;
}
 
.carousel-pagination-item {
   background-color: rgba(0 0 0 / .07);
   border-radius: 50%;
   border: 1px solid rgba(0 0 0 / .2);
   cursor: pointer;
   width: 8.5px;
   height: 8.5px;
   transition: var(--general-transition);
}
 
.carousel-pagination-item.carouselPaginationItemActive {
   background-color: var(--black-color);
   border-radius: .2rem;
   height: 8px;
   width: 16.5px;
}

.news-single-content-heading-container {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin-bottom: 3rem;
}

.news-single-content-title {
   color: var(--title-color);
   font-size: var(--fs-news-single-title);
   font-family: var(--ff-heading);
}

.news-single-content-info {
   display: flex;
   align-items: center;
   gap: clamp(0.5rem, 0.3944rem + 0.4507vw, 0.8rem);
}

.news-single-content-date,
.news-single-content-word-count,
.news-single-content-read-time {
   font-size: clamp(0.965rem, 0.9298rem + 0.1502vw, 1.065rem);
}

.news-single-content-text a {
   color: var(--black-color);
}

.italics {
   font-style: italic;
}

.news-single-content-divider {
   background-color: var(--black-color);
   border-radius: 50%;
   width: 3.5px;
   height: 3.5px;
}

.news-single-content-text-container {
   display: flex;
   flex-direction: column;
   row-gap: 1.7rem;
}

.new-single-content-image {
   border-radius: var(--border-radius);
   width: 100%;
   height: clamp(18.5rem, 11.8099rem + 28.5446vw, 37.5rem);
   object-fit: cover;
}

figcaption {
   color: rgba(0 0 0 / .5);
   font-size: .95rem;
   font-style: italic;
}

.news-single-content-author {
   font-size: clamp(0.95rem, 0.9430rem + 0.0300vw, 0.97rem);
   text-align: right;
}