.schedule-section {
   padding-block: 4rem;
   padding-inline: var(--padding-inline);
}

.schedule-heading-container {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin-bottom: 3.5rem;
   text-align: center;
}

.schedule-title {
   color: var(--title-color);
   font-size: var(--fs-section-title);
   font-family: var(--ff-heading);
}

.schedule-subtitle {
   color: var(--text-color);
   font-weight: 500;
   font-size: var(--fs-section-subtitle);
   margin: auto;
   width: clamp(20rem, 5.9155rem + 60.0939vw, 60rem);
}

.schedule-current-day-time {
   font-style: italic;
   font-size: .938rem;
   font-weight: 500;
   margin-top: .5rem;
   text-decoration: underline;
}

.schedule-cards-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(clamp(20rem, 18.2394rem + 7.5117vw, 25rem), 1fr));
   gap: 1.2rem;
}

.schedule-card {
   background-color: #fff;
   border-radius: var(--border-radius);
   border: .6px solid rgba(0 0 0 / .09);
   display: grid;
   gap: 1.2rem;
   filter: drop-shadow(0 2.5px 20px rgba(0 0 0 / .065));
   padding: 1.3rem 1rem;
}

.schedule-card-day {
   display: none;
}

.schedule-card-title {
   color: var(--title-color);
}

.schedule-card-event li {
   list-style-position: inside;
}

.red-text {
   color: red;
   font-style: italic;
}

.schedule-card-active {
   background-color: red;
   color: var(--white-color);
   font-weight: 500;
}