.schedule-section {
   background-color: var(--container-color);
   padding-block: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
   padding-inline: var(--padding-inline);
}

.schedule-heading-container {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin-bottom: 3.5rem;
}

.schedule-title {
   color: var(--title-color);
   font-size: var(--fs-title);
   font-family: var(--ff-heading);
   text-align: center;
}

.schedule-subtitle {
   color: var(--text-color);
   font-weight: 600;
   font-size: 1.1rem;
   text-align: center;
   text-decoration: underline;
}

.schedule-cards-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   gap: 1.2rem;
}

.schedule-card {
   background-color: #fff;
   border-radius: var(--border-radius);
   border: .6px solid rgba(0 0 0 / .09);
   display: grid;
   gap: 1.2rem;
   filter: drop-shadow(0 2.5px 20px rgba(0 0 0 / .065));
   padding: 1.3rem 1rem;
}

.schedule-card-day {
   display: none;
}

.schedule-card-title {
   font-size: 1.15rem;
}

.schedule-card-event li {
   list-style-position: inside;
}

.red-text {
   color: red;
   font-style: italic;
}

.schedule-card-active {
   background-color: var(--black-color);
   color: var(--white-color);
}