.schedule-section {
   padding-block: 4rem;
   padding-inline: var(--padding-inline);
}

.schedule-heading-container {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin-bottom: 3.5rem;
   text-align: center;
}

.schedule-title {
   color: var(--title-color);
   font-size: var(--fs-section-title);
   font-family: var(--ff-heading);
}

.schedule-subtitle {
   font-weight: 500;
   font-size: var(--fs-section-subtitle);
   margin: auto;
   width: clamp(20rem, 5.9155rem + 60.0939vw, 60rem);
}

.schedule-current-day-time {
   font-style: italic;
   font-size: .97rem;
   font-weight: 500;
   margin-top: .5rem;
   text-decoration: underline;
}

.schedule-cards-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(clamp(20rem, 18.2394rem + 7.5117vw, 25rem), 1fr));
   gap: 3.5rem;
   /* max-width: 53rem;
   margin: auto; */
}

.schedule-card {
   display: grid;
   gap: 1.1rem;
   /* padding-bottom: 1rem; */
}

.schedule-card-day {
   display: none;
}

.schedule-card-event,
.schedule-card-text {
   padding-left: clamp(1rem, 0.9296rem + 0.3005vw, 1.2rem);
}

.schedule-card-event li {
   list-style-position: inside;
}

.schedule-card-active {
   background-color: red;
   color: var(--white-color);
   font-weight: 500;
}